#main_img{
    width: 60vw;
    
    
}

#footer1{
    
        width:50vw;
        font-size: small;
        color: gray;
}

#footer2{
    display:flex;
    justify-content:space-between;
}

#grid_content
{
    width:50vw;
    height:auto;
}

#Inflation{
    width:50vw;
    height:550px;
    min-width: 800px;

    background-image: url("images/img1.png");
    background-size: 100%;
    background-repeat: no-repeat;

    display:flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

@media (max-width:1200px){
    #Inflation{
        background-size: 800px auto;
    }
}

#Inflation p{
    font-size: 12px;
    flex:0 1 calc(25% - 40px);
    padding-top:14%;
    padding-right:20px;
    margin-left:20px;
}

.flex_class{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p{
    width: 50vw;
}

#super_jumbo{
    width: 50vw;
}
figcaption{
    width:50vw;
}

.social_icons{
    width: auto;
    height: 15px;


}

#soc_flex{
    display: flex;

    justify-content:flex-end;
    
    
}

#soc_flex div{
    
      margin-right: 25%;
}

#soc_flex button{
    margin-right: 32%;
}

aside{
    position: absolute;
    left:80%;
    display:grid;
    height:500px;
    grid-template-rows: 40px repeat(3, 1fr);
    grid-template-columns: 100px 150px;
}

#ed_title{
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
    width:100%; 
}

aside img{
    width:100px;
    height:100px;
    align-self: center;
}

aside a{
    align-self: center;
    padding-left:10px;
}