#main_img{
    width: 60vw;
    display:block;
    margin:0 auto;
}

footer{
    display:flex;
    justify-content:space-between;
}

#Inflation{
    width:50vw;
    height:550px;
    min-width: 800px;

    background-image: url("images/img1.png");
    background-size: 50vw auto;
    background-repeat: no-repeat;

    display:flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

@media (max-width:1200px){
    #Inflation{
        background-size: 800px auto;
    }
}

#Inflation p{
    font-size: 12px;
    flex:0 1 calc(25% - 20px);
    padding-top:150px;
    padding-right:20px;
}
