.main_img {
  width: 60vw;
}

.footer1 {
  width: 30vw;
  font-size: small;
  color: gray;
}

.footer2 {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 0 auto;
}

aside a {
  align-self: center;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

header a {
  margin-left: 20px;
  margin-top: 20px;
}

.footer2 a {
  font-size: 10px;
}

.grid_content {
  width: 50vw;
  height: auto;
}

.Inflation {
  width: 50vw;
  height: 550px;
  min-width: 800px;
  background-image: url("images/img1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

@media (max-width: 1200px) {
  #Inflation {
    background-size: 800px auto;
  }
}

section p {
  width: 30vw;
  font-size: 20px;
  font-family: georgia, 'times new roman', times, serif;
}

.Inflation p {
  font-size: 12px;
  flex: 0 1 calc(25% - 40px);
  padding-top: 14%;
  padding-right: 20px;
  margin-left: 20px;
}

.flex_class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.super_jumbo {
  width: 50vw;
}

span {
  width: 50vw;
}

.social_icons {
  width: auto;
  height: 15px;
}

button {
  background-color: rgb(86, 123, 149);
  color: white;
  border: 1px solid;
  border-radius: 3px;
  border-color: rgb(50, 104, 145);
  padding: 10px;
}

.soc_flex button {
  margin-left: 34vw;
}

.soc_flex {
  margin-bottom: 20px;
}

.float_right {
  float: right;
  margin-top: 12px;
}

.float_left {
  display: flex;
  float: left;
  margin-left: 60px;
}

header div {
  margin-right: 60px;
}

form div {
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
}

.soc_flex div {
  float: right;
  margin-right: 35vw;
}

aside {
  position: absolute;
  left: 80%;
  display: grid;
  grid-template-rows: 40px repeat(3, 100px);
  grid-template-columns: 100px 150px;
  row-gap: 10px;
}

.ed_title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}

aside img {
  width: 100px;
  height: 100px;
  align-self: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid rgb(202, 202, 202);
  z-index: 1;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 30px;
}

article {
  margin-top: 5vh;
}

.space {
  margin-top: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.art_links_Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.art_links_Flex a {
  text-decoration: none;
  color: black;
}

.flex_item1 {
  display: grid;
  grid-template-rows: 20px repeat(3, 350px);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 10px;
}

.flex_item1 img {
  width: 300px;
  height: auto;
}

.flex_item1 p {
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: bold;
}

.grid_items p {
  width: 300px;
  font-weight: bold;
}

.flex_item2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20px;
}

.flex_item2 a {
  margin-bottom: 20px;
  font-size: 30px;
}

hr {
  width: 100%;
}

.video_caption {
  text-align: center;
}

form {
  position: absolute;
  top: 8850px;
  left: 150px;
  text-align: center;
}

form ul {
  list-style-type: none;
  margin-right: 40px;
}
