#main_img{
    width: 60vw;
    
    
}

#footer1{
    
        width:50vw;
        font-size: small;
        color: gray;
}

#footer2{
    display:flex;
    justify-content:space-between;
}


#Inflation{
    width:50vw;
    height:550px;
    min-width: 800px;

    background-image: url("images/img1.png");
    background-size: 50vw auto;
    background-repeat: no-repeat;

    display:flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

@media (max-width:1200px){
    #Inflation{
        background-size: 800px auto;
    }
}

#Inflation p{
    font-size: 12px;
    flex:0 1 calc(25% - 20px);
    padding-top:150px;
    padding-right:20px;
}

.flex_class{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p{
    width: 50vw;
}

#super_jumbo{
    width: 50vw;
}
figcaption{
    width:50vw;
}

.social_icons{
    width: auto;
    height: 15px;


}

#soc_flex{
    display: flex;

    justify-content:flex-end;
    
    
}

#soc_flex div{
    
      margin-right: 25%;
}

#soc_flex button{
    margin-right: 32%;
}